[Unit]
Description=Docker Compose App
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/home/ec2-user
ExecStart=/usr/bin/docker compose -f /home/ec2-user/docker-compose.yml up -d
ExecStop=/usr/bin/docker compose -f /home/ec2-user/docker-compose.yml down
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target
