[Unit]
Description=Docker Compose App
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/ec2-user/app
ExecStart=/usr/local/bin/docker compose --env-file /home/ec2-user/app/.env up -d
ExecStop=/usr/local/bin/docker compose --env-file /home/ec2-user/app/.env down
Restart=always

[Install]
WantedBy=multi-user.target
